@font-face {
  font-family: Harabara;
  src: url(../fonts/Harabara.ttf);
}

@font-face {
  font-family: Sofia;
  src: url(../fonts/Sofia-Regular.ttf);
}

@font-face {
  font-family: Baba;
  src: url(../fonts/BebasNeue-Regular.ttf);
}

* {
  margin: 0;
}
.container {
  margin: 10px;
}

.card {
  width: 300px;
  height: 350px;
  border: 1px solid black;
  background-color: #ffffff;
}
.card-header {
  height: 150px;
  width: 100%;
  background-image: url("../img/cover.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
}

.profile-logo {
  position: absolute;
  right: 10px;
  top: 10px;
  color: white;
}

.profile-image {
  position: absolute;
  width: 100px;
  border: 7px solid #ffffff;
  object-fit: cover;
  height: 100px;
  border-radius: 57px;
  bottom: -45px;
  left: 94px;
}

.card-body {
  background-color: #fefefe;
  height: 200px;
  width: 100%;
}

.title {
  font-family: Harabara;
  padding-top: 60px;
  color: #000000;
  text-align: center;
}

.username {
  font-family: Sofia;
  color: #000000;
  text-align: center;
  font-size: 12px;
}

.description {
  padding-top: 10px;
  text-align: center;
  color: #000000;
  font-size: 12px;
}

.social-media {
  margin-top: 20px;
  padding: 5px;
  width: 80%;
  border: 1px solid black;
  height: 30px;
}
.social-media > div {
  float: left;
  margin-right: 34px;
}
.first {
  margin-left: 19px;
}

.fa-facebook {
  color: blue;
}

.fa-instagram {
  color: orange;
}

.fa-twitter {
  color: skyblue;
}
