.mb {
  margin-bottom: 5px;
}

.container {
  background-color: blue;
  padding: 33px;
  width: 350px;
  text-align: center;
}

.form-container {
  text-align: left;
}

.lable {
  color: white;
}

.line-break {
  line-break: auto;
}

.submit-button {
  width: 200px;
  height: 40px;
  background-color: green;
}

.btn {
  width: 500px;
  height: 30px;
  background-color: red;
  padding: 4px 28px 4px 28px;
  color: white;
  text-decoration: none;
  border-radius: 14px;
  border: none;
  text-align: center;
}
